- i = 0
- unless @sites.empty?
    %ul.unstyled
        - @sites.each do |site|
            - i += 1
            .activeList
                %li
                    .targetable{:id => "row-#{i}d"}
                        .span4
                            %strong
                                != link_to(site.location, "/site/#{site.location.to_slug}", :class => 'subtleLink')
                        .span2
                            %form.littleForm.opacitize.siteManagement{:action => '/sites/manage/deactivate', :method => 'post', :class => "form-#{i}d floatRight"}
                                %input{:type => 'hidden', :name => 'site', :value => site.location}
                                %input.btn.btn-small.btn-warning{:type => 'submit', :value => 'Deactivate'}
