

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */


.alert {
  margin-top: 5px;
  margin-bottom: 5px;
}

.flashes {
  min-height: 60px;
}








