

/* ===== Primary Styles ========================================================
   Author: robert.mcgrail@cwa.co.nz
   ========================================================================== */

h2 small {font-size: 14px;}

h2 {font-size: 18px;}

h3 {font-size: 16px;}

a {
  word-wrap: break-word;
}

.alert {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tabBadge {
  margin-left: 30px;
  font-size: 75%;
}

.siteInfo {
  line-height:40px;
}

.siteListHeader {
  padding-bottom: 20px;
}

.siteListTable {
  margin-left: 13px;
}

.smaller {
  font-size: 95%;
}

.btn-small {
  font-size: 70%;
  padding: 3px;
}

.littleForm {
  margin-bottom: 1px;
  float: left;
  padding-left: 6px;
}

.thin {
  margin :3px;
  padding-bottom: 5px;
}

.pageTitle {
  padding-top: 15px;
}

.subtleLink {
  color: #555;
}

.problemLabel {
  color: #555;
  padding-top: 5px;
  padding-bottom: 10px;
}

.spaced {
  margin-bottom: 35px;
}

.linkTitle > a {
  font-size: 110%;
  font-weight: normal;
  padding: 4px;
  color: #333;
  background-color: #FFC4C4;
}

.link > a {
/*  color: #001696;*/
  text-decoration: underline;
}


.blockOfPages {
  padding-bottom: 10px;
  padding-top: 5px;
}

.goLeft {
  text-align: left;
}

li.link {
  margin-top: 8px;
  margin-bottom: 8px;
}

.targetable {
   overflow:hidden;
}

.opacitize {
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.siteListTableHeader {
  color: gray;
  font-size: 93%;
}

.siteTitle {
  font-size: 115%;
}

.blacklistBlock {
  padding-bottom: 20px;
}

.indentLink {
  margin-left: 10px;
}

.adminOptions {
  padding-top: 20px;
  text-align: right;
}

.addSiteLink {
  float: right;
  margin-top:10px;
}

.activeList * .span4, .inactiveList * .span4 {
  margin-left:0px;
  padding-left:0px;
}

.floatRight {
  float: right;
}

#siteAddForm {
  margin-top: 50px;
  margin: 10px;

}

.siteFormArea {
  margin-top: 20px;
  padding-bottom: 20px;

}
