.row
    .span12
        .row
            .span6
                %h2
                    Active sites
                %hr
                
                != haml :'admin/active'
                
            .span6
                %h2
                    Inactive sites
                %hr
                
                != haml :'admin/inactive'
