.row
    .span12
        .row

            .title.span6
                %h1
                    != link_to('Linkcheck', '/')
            - unless @admin
                .span5.adminOptions
                    != link_to('Manage sites', '/sites/manage')
                .span1.adminOptions
                    != link_to('Admin', '/admin')
