.navbar
    .navbar-inner
        .container
            %a.brand{:href => '/'} Linkcheck

            %ul.nav
                %li.divider-vertical
                %li
                    != link_to('List of sites', '/')
                %li.divider-vertical
                %li
                    %a{:href => '#'}
                        Status:
                        %span#checkStatus
            %ul.nav.pull-right{:style => 'padding-right:3em;'}
                %li.divider-vertical
                %li
                    != link_to('Manage sites', '/sites/manage')
                %li
                    != link_to('Admin', '/admin')
